html{
	font-size: 62.5%;
}
*{
	margin: 0;
	padding: 0;
	border: 1px solid limegreen;
}
img{
	display: block;
	max-width: 100%;
	max-height: 100%;
}
ul{
	list-style: none;
}
body{
	background: white;
	background-size: cover;
	color: black;
	font-family: 'Raleway', sans-serif;
}
.wrapper{
	max-width: 1140px;
	margin: 0 auto;
}
.title{
	position: relative;
	&::before{
		content: '';
		width: 30px;
		height: 3px;
		background: $mainBlue;
		position: absolute;
		top: -15px;
		left: 50%;
		transform: translateX(-50%);
	}
	&::after{
		content: '';
		width: 30px;
		height: 3px;
		background: $mainRed;
		position: absolute;
		bottom: -15px;
		left: 50%;
		transform: translateX(-50%);
	}
}
.screenReader{
	position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding:0 !important;
  border:0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}